.formulario-box {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
}

.contenedor{
    margin-top: 80px;
}

/* .logo-facu{
    max-width: 800px;
} */


.sin-flechas::-webkit-outer-spin-button,
.sin-flechas::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sin-flechas {
  -moz-appearance: textfield;
}



p{
  color: blueviolet ;
}



#profile-image {
    /* Estilos base (para móvil por defecto) */
    width: 150px;
    height: 150px;
    
    /* Propiedades que tenías en el style */
    object-fit: cover;
    cursor: pointer;

}

#profile-image:hover {
    transform: scale(1.01); /* Reduje un poco el scale para que no sea tan brusco */
    filter: grayscale(95%); /* Aplica el filtro gris */
    transition: transform 0.3s ease, filter 0.3s ease-in-out; /* Añadí la transición para suavizar el efecto */
}

/* Media Query para pantallas de 576px o más */
@media (min-width: 576px) {
    #profile-image {
        /* Estilo que se aplica solo en pantallas grandes */
        width: 200px;
        height: 200px;
    }

}
  