.imagen{
  display: block;
  margin: 20px auto 40px auto;
  width: 500px; 
  height: auto;
  
}

.contenedor {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  width: 100%;
  background-color: white;
}


.cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

body.fondo-pared {
      background: url('https://www.alumnos.frro.utn.edu.ar/fondo.gif') repeat;
      background-size: 80px 80px;
}

.caja-vacante {
      background: #fff;
      border-radius: 15px;
      padding: 30px;
      max-width: 800px;
      margin: 40px auto;
      position: relative;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.btn-volver {
      position: absolute;
      top: 15px;
      right: 15px;
}
.botonera {
      border-top: 1px solid #ddd;
      margin-top: 20px;
      padding-top: 15px;
      display: flex;
      justify-content: center;
      gap: 10px;
}

.nav-item {
    border-radius: 50rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out; 
}
