.imagen{
  max-width: 800px;
}

.contenedor {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contenedor-botones a {
  width: 160px;
  text-align: center;
}

.cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}