.imagen{
  max-width: 800px;
}

.contenedor {
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 20px;
  width: 100%;
  background-color: white;
}

.columna {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.contenedor-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contenedor-botones a {
  width: 160px;
  text-align: center;
}

.cabecera{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}



/* body::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    background-image: url('https://www.alumnos.frro.utn.edu.ar/fondo.gif');
    background-repeat: repeat;
    background-attachment: fixed;
    z-index: -1000000;
    background-size: 80px 80px;
    

    opacity: 0.6;

} */
